[run]
omit =
  # Default files provided by Django
  peregrin/manage.py
  peregrin/peregrin/wsgi.py
  peregrin/peregrin/asgi.py

  # Don't test migrations
  */migrations/*

  # Don't test tests
  */tests/*

  # Don't test app configs
  */apps.py
