[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pytest = "*"
factory-boy = "*"
pytest-django = "*"
pytest-coverage = "*"
pytest-flake8 = "*"

[dev-packages]
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.10"
